@font-face {
    font-family: "Rmont";
    font-weight: 400;
    src: url("../fonts/Rmont-Regular.eot");
    src: url("../fonts/Rmont-Regular.eot?#iefix") format('embedded-opentype');
}
@font-face {
    font-family: "Rmont";
    font-weight: 600;
    src: url("../fonts/Rmont-Semibold.eot");
    src: url("../fonts/Rmont-Semibold.eot?#iefix") format('embedded-opentype');
}
@font-face {
    font-family: "Rmont";
    font-weight: 700;
    src: url("../fonts/Rmont-Bold.eot");
    src: url("../fonts/Rmont-Bold.eot?#iefix") format('embedded-opentype');
}