.icon-user {
    width: 16px;
    height: 20px;
    background-image: url("../images/icon-user.png");
}
.icon-user-active {
    width: 16px;
    height: 20px;
    background-image: url("../images/icon-user-active.png");
}
.icon-user-md {
    width: 19px;
    height: 25px;
    background-image: url("../images/icon-user-md.png");
}
.icon-username {
    width: 22px;
    height: 20px;
    background-image: url("../images/icon-username.png");
}
.icon-exit {
    width: 20px;
    height: 21px;
    background-image: url("../images/icon-exit.png");
}
.icon-arrow {
    width: 12px;
    height: 12px;
}
.icon-arrow-right {
    background-image: url("../images/icon-arrow-right.png");
    background-position: 2px 0;
}
.icon-arrow-down {
    background-image: url("../images/icon-arrow-down.png");
    background-position: 0 2px;
}
.icon-back {
    width: 23px;
    height: 23px;
    background-image: url("../images/icon-back.png");
}
.icon-settings {
    width: 20px;
    height: 21px;
    background-image: url("../images/icon-cog.png");
}
.icon-collapse {
    width: 24px;
    height: 3px;
    background-image: url("../images/icon-collapse.png");
}
.icon-close {
    width: 18px;
    height: 17px;
    background-image: url("../images/icon-close.png");
}
.icon-flag {
    width: 29px;
    height: 17px;
}
.icon-flag-ru {
    background-image: url("../images/flag-ru.png");   
}
.icon-flag-uk {
    background-image: url("../images/flag-uk.png");   
}
.icon-flag-tr {
    background-image: url("../images/flag-tr.png");   
}
.icon-flag-az {
    background-image: url("../images/flag-az.png");   
}
.icon-online {
    width: 10px;
    height: 10px;
    background-image: url("../images/online.png");
}