/* body,
.button-1,
.button-2,
.auth-input-field,
.auth-submit-button {
    font-family: "Rmont", sans-serif;
} */

.clearfix {
    height: 0;
    overflow: hidden;
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    *zoom: 1;
}

.header {
    height: auto;
}
.main-inner > .row {
    min-height: 290px;
}

.language-dropdown {
    padding-top: 40px;
}
.language > a,
.language-dropdown a {
    display: inline-block;
    cursor: pointer;
}
.language-selected {
    float: left;
}

.account-list li.even {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2003648,endColorstr=#B2003648);
}

.user-account .block-header .block-inner-top {
    margin-top: -20px;
}
.user-account .block-body {
    margin-top: -1px;
}
.user-account .block-footer {
    background: rgba(0, 21, 28, 0.7);
    border-radius: 5px;
}

.user-account {
    margin-bottom: -5px;
}
.user-account.height100 {
    margin-bottom: 0;
}
.user-account.height100 .block-body {
    margin-top: 0;
}
.user-account.height100 .block-footer {
    bottom: -3px;
}
.user-account.height100 > .block-inner-bottom {
    bottom: 3px;
}

.status-yellow {
    color: #fff500;
    filter: alpha(opacity=80);
}
.status-bar.status-yellow {
    filter: none;
}

.news-list li {
    padding-top: 19px;
    line-height: 18px;
    filter: alpha(opacity=70);
}

.progress-bar-fill {
    background: url("../images/progressbar.png");
}
